
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#ed2553">
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active" >
              <a class="nav-link" routerLink="/home" routerLinkActive="active" href="#" style="color:white">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" routerLink="/walking" routerLinkActive="active" href="#" style="color:white">Walking</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/running" routerLinkActive="active" href="#" style="color:white">Running</a>
            </li>
            <li class="nav-item" >
                <a class="nav-link" routerLink="/cycling" routerLinkActive="active" href="#" style="color:white">Cycling</a>
            </li>
            <li class="nav-item" >
                  <a class="nav-link" routerLink="/heartbeat" routerLinkActive="active" href="#" style="color:white">Heartbeat</a>
            </li>
          </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" class="nav-link" routerLink="/registration" routerLinkActive="active" style="color:white">Sign Up</a></li>
                <li><a href="#" class="nav-link" routerLink="/loginForm" routerLinkActive="active" style="color:white">Login</a></li>
            </ul>
          
        </div>
      </div>
    </nav>